.App {
  font-family: sans-serif;
  text-align: center;
  background-color: tomato;
  color: white;
}
/* *{
  background-color: black;color:white;
}
h2{
  color:blue;
}
input{
  background-color: black;height:30px;
} */
